/*----- Medias Queries -----*/
@media (max-width:1000px){
    .visible{
        display: none !important;
        visibility: hidden !important;
    }
    
    .hidden{
        display: block !important;
        visibility: visible !important;
    }

    .nav-toggle{
        display: block;
        margin-right: 30px;
    }

    header{
        z-index: 1900 !important;
        margin: 0 !important;
    }

    nav{
        position: absolute;
        top: -100vh;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, red, blue);
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 100px);
        width: 100%;
        z-index: 1000 !important;
        transition: .6s;
        padding: 10px !important;
    }

    nav .nav-list{
        flex-direction: column;
        margin: 0 auto;
    }

    .active{
        top: 100px;
    }

    .up{
        bottom: 80px !important;
    }

    .institution{
        flex-direction: column;
        justify-content: center !important;
        gap: 30px;
        margin: 0 auto !important;
    }
    .text-institution{
        margin-top: 50px !important;
        width: 90%;
        text-align: justify;
    }

    .contact{
        flex-direction: column;
        padding: 30px;
    }
    .sede iframe, .complejo iframe{
        width: 100%;
        padding: 30px;
    }
    .address{
        text-align: center;
    }
    .modal_container{
        left: 2.7%;
        height: 90%;
    }
    .modal_text{
        padding: 0 5px !important;
    }
    .modal_text h1{
        margin: 20px auto !important;
    }
    .modal_text p{
        margin: 30px auto !important;
    }
    .button-close{
        margin: 10px auto
    }

    .spool, .spool2{
        grid-template-columns: repeat(2, 1fr);
        padding: 15px !important;
    }

    .spool-item:nth-child(even), 
    .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }
/* 
    .backgroundDiv{
        background-size: 100% 70vw !important;
        background-position: 0% !important;
        height: 150px;
        margin-top: 0px !important;
      } */
      /* .search{
        margin: 0 auto !important;
      } */
      .form section form{
        width: 95% !important;
      }
      .searchPartner{
        flex-direction: column;
      }
      .table{
        border: 0;
      }
      .table thead{
        display: none;
      }
      .table tr{
        margin-bottom: 50px;
        display: block;
      }
      .table th, .table td{
        font-size: 14px !important;
      }
      .table td{
        display: block;
        text-align: right !important;
      }
      .table td:last-child {
        border-bottom: 0px;
      }
      .table td::before{
        content: attr(data-label);
        font-weight: bold;
        float: left;
      }
      .text-admin{
        margin: 130px auto !important;
      }
      .text-admin h2{
        font-size: 30px !important;
      }
      .checks-asistencia{
        width: 100% !important;
      }
      .items-form{
        gap: 2px !important;
      }
      .btn-asistencia{
        width: 50% !important;
        margin-left: 60% !important;  
      }
      .btn-baja, .btn-pago{
        width: 30% !important;
        margin-left: 70% !important;
      }
} 