/*----- Medias Queries -----*/
@media (max-width:1000px){
    .visible{
        display: none !important;
        visibility: hidden !important;
    }
    
    .hidden{
        display: block !important;
        visibility: visible !important;
    }

    .nav-toggle{
        display: block;
        margin-right: 30px;
    }

    nav{
        position: absolute;
        top: -100vh;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, red, blue);
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 100px);
        width: 100%;
        z-index: 1000 !important;
        transition: .6s;
        padding: 10px !important;
    }

    nav .nav-list{
        flex-direction: column;
        margin: 0 auto;
    }

    .active{
        top: 100px;
    }

    .up{
        bottom: 80px !important;
    }

    .institution{
        flex-direction: column;
        justify-content: center !important;
        gap: 30px;
    }
    .text-institution{
        width: 90%;
        text-align: justify;
    }
    .iframe-fb{
        display: flex;
        width: 90%;
        margin: 15px auto;
    }

    .contact{
        flex-direction: column;
        padding: 30px;
    }
    .sede iframe, .complejo iframe{
        width: 100%;
        padding: 30px;
    }
    .address{
        text-align: center;
    }
    .modal_container{
        top: 15px;
        left: 2.7%;
        height: 90%;
    }
} 