*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    /* font-family: 'Josefin Sans', sans-serif; */
    color: #000000;
}

html, body, main{
    background: #e2e2e2 !important;
}

.visible{
    display: flex !important;
    visibility: visible !important;
}

.hidden{
    display: none !important;
    visibility: hidden !important;
}

.btnWsp{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 1800 !important;
}

.up{
    position: fixed;
    line-height: 64px;
    bottom: 110px;
    right: 37px;
    text-align: center;
    font-size: 30px;
    z-index: 1800;
}

/* body{
    background: url('../assets/img/banner-cac.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
} */
.store{
    position: fixed;
    line-height: 64px;
    bottom: 170px;
    left: -240px;
    background-color: blue;
    border-radius: 50px;
    padding: 0px 16px;
    text-align: center;
    width: 300px;
    font-size: 25px;
    z-index: 1800;
    cursor: pointer;
    transition: all .5s;
}
.store i{
    color: red;
    margin-left: 70px;
    transition: all .5s;
}
.store:hover{
    transform: translate(240px, 0);
    color: blue;
    background-color: red;
    transition: ease-in-out .5s;
}
.store:hover i{
    color: blue;
    background-color: red;
    transition: ease-in-out .5s;
    transform: rotate(360deg);
}

.repair{
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin: 130px auto 30px auto;
}

/* navbar style */
header {
    background: linear-gradient(to right, red, blue);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500 !important;
}

.nav-logo{
    width: 30%;
    max-width: 1200px;
    padding: 15px;
    cursor: pointer;
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0px auto;   
    /* max-width: 1200px;
    line-height: 80px; */
    z-index: 1000;
}

nav{
    display: flex;
    padding: 0 15px;
    gap: 50px;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: red;
    color: blue;
    padding: 10px;
    border-radius: 10px;
}
.nav-button:hover{
    background: blue;
    color: red;
}
.nav-list{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    z-index: 1000;
}

.nav-link a{
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 3px;
    transition: .3s;
}

.nav-link a:hover{
    color: red;
}

.nav-toggle{
    color: #FFFFFF;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.rotate{
    transform: rotate(180deg);
}

/* navbar style */

section{
    margin: 10px auto 30px auto;
    padding: 15px;
}

/* home style */
.home div img{
    margin: 105px auto 30px auto;
    width: 100%;
    height: 60vh;
}

/* institution style */
.institution{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.text-institution{
    width: 40%;
}

/* history style */
.logo-timeline{
    display: flex; 
    justify-content: center;
}
.logo-timeline img{
    width: 90px; 
    max-width: 120px;
}

/* discipline style */

.discipline{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

/* discipline info style */

.modal_container{
    background-color: rgba(15, 15, 49, 0.966);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    /* top: 12px; */
    left: 0px;
    bottom: -100vh;
    height: 95%;
    width: 95%;
    border-radius: 10px;
    z-index: 1900;
    font-weight: bold;
    overflow: auto;
    transition: all .5s !important;
}
.modal_text{
    width: 100%;
    max-width: 90%;
    max-height: 90%;
    padding: 0px;
    border-radius: 15px;
    color: red;
    text-align: center;
}
.modal_text h1{
    margin: 0px auto 40px auto;
    color: red;
}
.modal_text p{
    width: 100%;
    height: 90%;
    margin: 40px auto;
    color: red;
}
.button-close{
    font-family: inherit;
    font-weight: bold;
    color: red;
    letter-spacing: 2px;
    padding: 9px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 1000px;
    background: transparent;
    transition: .3s;
    cursor: pointer;
    margin: 0 auto 20px auto;
}
      
.button-close:hover,
.button-close:focus {
    color: #FFFFFF;
    background: hsla(var(--hue), 25%, 10%, .2);
    border-color: currentColor;
}
      
.button-close:active {
    transform: translate(2px);
}

.show{
    pointer-events: auto;
    transition: all .5s !important;
    bottom: 0vh;
    left: 40px;
}

.spool{
    width: 90%;
    padding: 32px;
    display: grid;
    place-content: center;
    margin: 0 auto;
    grid-template-columns: 400px 350px 200px 200px;
    grid-auto-rows: 1fr;
    gap: 15px;
    height: 110vh;
}

.spool-item{
    border-radius: 16px;
    box-shadow: 0 0 15px 0 var(--bg-primary);
}

.spool-item:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    background: url('../assets/img/banner-cac.png') no-repeat center/cover;
}

.spool-item:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
    background: url('../assets/img/complejo-aereo.webp') no-repeat center/cover;
}

.spool-item:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/3;
    background: url('../assets/img/banner-cac.png') no-repeat center/cover;
}

.spool-item:nth-child(4){
    grid-column: 4/5;
    grid-row: 1/3;
    background: url('../assets/img/complejo-aereo.webp') no-repeat center/cover;
}

.spool-item:nth-child(5){
    grid-column: 1/2;
    grid-row: 3/5;
    background: url('../assets/logo/logo.png') no-repeat center/cover;
}

.spool-item:nth-child(6){
    grid-column: 2/3;
    grid-row: 3/5;
    background: url('../assets/img/complejo-aereo.webp') no-repeat center/cover;
}

.spool-item:nth-child(7){
    grid-column: 3/4;
    grid-row: 3/5;
    background: url('../assets/img/banner-cac.png') no-repeat center/cover;
}

.spool-item:nth-child(8){
    grid-column: 4/5;
    grid-row: 3/5;
    background: url('../assets/logo/logo.png') no-repeat center/cover;
}

.spool-item:hover{
    transform: scale(1.3);
}

/* contact style */
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    margin: 0 auto;
}

.label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.label input{
    width: 100%;
    border-radius: 5px;
    border: none    ;
    box-shadow: 2px 2px red;
    padding: 1%;
    letter-spacing: 2px;
}

form textarea{
    width: 100%;
    height: 120px;
    box-shadow: 2px 2px red;
    padding: 1%;
    letter-spacing: 2px;
}

form button{
    display: flex;
    padding: 2%;
    font-weight: bold;
    background: red;
    color: blue;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}
form button:hover{
    background: blue;
    color: red; 
}

.sede, .complejo{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
}
.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 1px;
    gap: 5px;
    margin: 30px auto;
}
.address p i{
    margin: 0 1.25rem;
    font-size: 18px;
}

.address a{
    color: #000000;
}

.sede iframe, .complejo iframe{
    border-radius: 10px;
    border: 2px solid #000000 !important;
    padding: 3px;
}

/* footer style */
footer{
    background: linear-gradient(to right, blue, red);
}

.social-media a i{
    color: #FFFFFF;
    font-size: 20px;
}
.social-media a i:hover{
    color: #000000;
    transition: all .5s;
    transform: rotate(360deg) !important;
}

/* ingreso style */
.form{
    margin: 150px auto 100px auto;
}
